@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@font-face {
    font-family: unbounded;
    src: url(../fonts/unbounded.woff);
}

@font-face {
    font-family: coco-R;
    src: url(../fonts/CocoGothic-Regular.woff);
}

@font-face {
    font-family: coco-L;
    src: url(../fonts/CocoGothic-Light.woff);
}

@font-face {
    font-family: coco-B;
    src: url(../fonts/CocoGothic-Bold.woff);
}

@font-face {
    font-family: coco-H;
    src: url(../fonts/CocoGothic-Heavy.woff);
}

body {
    font-family: "Roboto Mono", monospace;
    background-color: #15202B;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    display: block;
    width: 100vw; /* adjust width percentage as needed */
    height: 100vh; /* adjust height percentage as needed */
    /* background: linear-gradient(to right, #202140, #2D2E48); */
    background-color: #15202B;
    box-sizing: border-box; /* Include padding in width and height */
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar {
    display: none;
}

.new_container {
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.three_items {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    color: white;
    font-size: 25px;
    text-align: center;
    align-items: center;
    padding: 0 0;
}

.three_items img {
    filter: drop-shadow(0 0 55px rgba(255, 255, 255, 0.6));
}

.mywrap {   
    filter: drop-shadow(#000000 12px 12px 12px);
    width: 80%
}

.mywrap img{
    width: 65%;
    height: 65%;
}

.league_type {
    font-family: 'unbounded';
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 8%;
    letter-spacing: 1px;
}

ul li {
    width: 100%;
    margin: 3% 0;
    padding: 0;
}

ul {
    width: 100%;
    gap: 5%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.ullicontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 15px;
    background: #0F161E;
    align-items: center;
    justify-content: start;
    color:white;
    font-size: 20px;
    font-family: 'coco-L';
    padding: 2%;
    gap: 3%;
}

.nameandbalance {
    display: flex;
    flex-direction: column;
    gap: 2%;
    font-family: 'coco-L';
    font-size: 20px;
    margin-left: 2%;
    width: 80%;
}

.minedbalance {
    display: flex;
    flex-direction: row;
    gap: 4%;
    font-family: "Roboto Mono", monospace;
    font-size: 21px;    
    color: #98FFAF;
    justify-content: start;
}

.minedbalance img {
    width: 10%;
    height: 10%;
}

.minedbalance text {
    position: relative;
    align-items: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    line-height: 100%;
    vertical-align: top;
}

.size_container {
    align-items: center;
    justify-content: center;
    text-align: center;
    width:15%;
    font-family: 'unbounded';
    font-size: 15px;
}

.percent_text {
    width:100%;
    color: white;
    font-family: 'unbounded';
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 7%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 3% 0;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    
    border-radius: 20px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
    display: block;
    height: 22px;
    background-color: #bc6f03;
    background-image: linear-gradient(315deg, #bc6f03 0%, #874000 74%);
    border-radius: 20px;
    transition: width 500ms ease-in-out;
}

.progress-bar-fill2 {
    display: block;
    height: 22px;
    background-color: #5b6467;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
    border-radius: 20px;
    transition: width 500ms ease-in-out;
}

