@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@font-face {
    font-family: unbounded;
    src: url(../fonts/unbounded.woff);
}
body {
    font-family: "Open Sans", sans-serif;
    background-color: #15202B;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.containerTasks {
    display: block;
    width: 100vw; /* adjust width percentage as needed */
    height: 100vh; /* adjust height percentage as needed */
    /* background: linear-gradient(to right, #202140, #2D2E48); */
    background-color: #15202B;

    box-sizing: border-box; /* Include padding in width and height */
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.containerTasks::-webkit-scrollbar {
    display: none;
}

.threeItems {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 3%;
    margin-top: 20%;
    justify-content: center;
    padding-left: 1%;
    padding-right: 1%;
}

.menuItem {
    border-radius: 5px;
    outline-style: solid;
    outline-width: thin;
    outline-color: #98FFAF;
    width: 50%;
    height: 5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
    font-family: 'unbounded';
    box-shadow: inset #2A4864 0px 0px 40px -9px; 
}

.menuItem span {
    color: white;
    font-size: 12px;
    font-weight: 300;
}

.taskList {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    gap: 2%;
    padding-left: 1%;
    padding-right: 1%;
    height: 50vh;
    gap: 2%;
}

.taskListItem {
    display: flex;
    flex-direction: row;
    background-color: #0f161e;
    width: 100%;
    height: 15vh;
    border-radius: 5px;
    margin-top: 5%;
    justify-content: start;
    align-self: center;
}

.taskListItemTextsWr {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: start;
    justify-content: space-around;
    margin-left: 5%;
}

.taskListItemTextsHeader {
    display: flex;
    width: 100%;
}

.taskListItemTextsHeader span {
    font-family: "Open Sans", sans-serif;
    color: #FFF;
    font-weight: 600;
    font-size: 14px;
}

.taskListItemTextsCoins {
    display: flex;
    flex-direction: row;
    gap: 3%;
}

.taskListItemTextsCoins span {
    font-family: "Open Sans", sans-serif;
    color:#98FFAF;
    font-weight: 600;
    font-size: 14px;
}

.taskListItemTextsCoins img {
    width: 8%;
}

.taskListItemTextsReward {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.taskListItemTextsReward span {
    font-family: "Open Sans", sans-serif;
    color: #bfbfbf;
    font-weight: 200;
    font-size: 12px;
}

.taskListImageWr {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 15%;
    margin-left: 2%;
}

.taskListImage {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.taskListImage img {
    width: 100%;
    align-self: center;
    margin: auto;
}

.taskListImageRightWr {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 25%;
    margin-right: 3%;
}

.taskListImageRight {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.taskListImageRight img {
    width: 100%;
    align-self: center;
    margin: auto;
}

.greenLineEnd {
    margin: auto;
    border: thin solid #98FFAF;
    width: 60%;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;
}

.dscrpt {
    display: flex;
     /* Align content along Y-axis */
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
}
  
.coinAmount {
    display: flex;
    flex-direction: row;
   /* Align content along Y-axis */
    color: white;
    padding-right: 50%;
    height: 40%;
    width: 100%;
    justify-content: start;
    align-items: start;
    gap: 8px;
}

.coinAmount img {
    width: 25px;
    vertical-align: middle;
    margin: auto;
}

.coinAmount span {
    color: #98FFAF;
}

.loader {
    width: 6%;
    width: 6%;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: flex;
    flex-direction: center;
    align-items: center;
    align-self: center;
    box-sizing: border-box;
    animation: rotations 1s linear infinite;
}

@keyframes rotations {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

.frens1Container {
    display: none;
    flex-direction: column;
    width: 100vw; /* adjust width percentage as needed */
    height: 100vh; /* adjust height percentage as needed */
    /* background: linear-gradient(to right, #202140, #2D2E48); */
    background-color: #15202B;

    box-sizing: border-box; /* Include padding in width and height */
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.xCross {
    display: flex;
    flex-direction: column;
    padding-right: 3%;
    padding-left: 80%;
    max-height: 15%;
    align-items: right;
    align-self: right;
    justify-content: right;
}

.xCross img {
    height: 50%;
    width: 50%;
    align-self: right;
    justify-content: right;
}

.mainAdPage {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    text-align: center;
}

.mainAdPage img {
    width: 30%;
    margin: auto;
    margin-top: 10%;
}

.mainAdPage span {
    color: white;
    font-size: 30px;
}

.adTask {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    outline-style: solid;
    outline-width: thin;
    outline-color: #98FFAF;
    width: 90%;
    max-height: 10vh;
    margin:auto;
    justify-content: start;
    align-items: center;
}

.adTask span {
    color: white;
    font-size: 17px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin:auto;
}

.adTaskimg0 {
    width: 15%;
    margin-left: 2%;
}

.adTaskimg0 img {
    width: 65%;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    vertical-align: middle;
}

.adTaskimg1 {
    width: 25%;
    margin-right: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.adTaskimg1 img{
    width: 100%;
    margin: auto;
}

.coinDiv {
    position: absolute;
    width: 50px; /* Adjust size of the coin */
    height: 50px; /* Adjust size of the coin */
    background-image: url('../images/coin.svg'); /* Replace with your coin image URL */
    background-size: cover;
    opacity: 1;
    animation: coinsFloat 2s forwards; /* Animation to float upwards */
    z-index: 1115125;
}

@keyframes coinsFloat {
    0% {
        transform: translate(0, 0);;
        opacity: 1;
    }
    100% {
        transform: translate(-50vw, -100vh); /* Move off-screen */
        opacity: 0;
    }
}